<marquee behavior="scroll" direction="down" scrollamount="2" style="align-content: end">Anirban Mondal</marquee>
<marquee behavior="scroll" direction="right" scrollamount="12">Advanced Programming</marquee>
<marquee behavior="scroll" direction="left" scrollamount="20">Data Mining and Warhousing</marquee>
<marquee behavior="scroll" direction="right" scrollamount="40">Distributed Systems</marquee>

<marquee behavior="scroll" direction="down" scrollamount="2">Mahavir Jhawar</marquee>
<marquee behavior="scroll" direction="left" scrollamount="12">Probability & Statistics</marquee>
<marquee behavior="scroll" direction="right" scrollamount="20">Computer Networks</marquee>
<marquee behavior="scroll" direction="left" scrollamount="40">Theory of Computation</marquee>

<marquee behavior="scroll" direction="down" scrollamount="2">Manu Awasthi</marquee>
<marquee behavior="scroll" direction="right" scrollamount="12">Computer Organization & Systems</marquee>
<marquee behavior="scroll" direction="left" scrollamount="20">Computer Architecture</marquee>
<marquee behavior="scroll" direction="right" scrollamount="40">Operating Systems</marquee>

<marquee behavior="scroll" direction="down" scrollamount="2">Ravi Kothari</marquee>
<marquee behavior="scroll" direction="left" scrollamount="12">Introduction to Machine Learning</marquee>
<marquee behavior="scroll" direction="right" scrollamount="20">Advanced Machine Learning</marquee>
<marquee behavior="scroll" direction="left" scrollamount="40">Unstructured Information Processing</marquee>

<marquee behavior="scroll" direction="down" scrollamount="2">Debayan Gupta</marquee>
<marquee behavior="scroll" direction="right" scrollamount="12">Introduction to Computer Programming</marquee>
<marquee behavior="scroll" direction="left" scrollamount="20">Advanced Algorithms</marquee>
<marquee behavior="scroll" direction="right" scrollamount="40">The New Geography of the Information Age</marquee>


<marquee behavior="scroll" direction="down" scrollamount="2">and more</marquee>
<marquee behavior="scroll" direction="left" scrollamount="12">Computer Security & Privacy</marquee>
<marquee behavior="scroll" direction="right" scrollamount="20">Linear Algebra</marquee>
<marquee behavior="scroll" direction="left" scrollamount="40">Networks, Markets & Crowds</marquee>

